<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blank Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <p-table
                [value]="customers"
                [scrollable]="true"
                scrollHeight="400px"
                sortField="representative.name"
                sortMode="single"
                dataKey="representative.name"
                rowGroupMode="subheader"
                groupRowsBy="representative.name"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="loading"
                [paginator]="true"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]"
                [tableStyle]="{'min-width': '70rem'}"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt2.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Search keyword"
                            />
                        </p-iconField>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 20%">Name</th>
                        <th style="width: 20%">Country</th>
                        <th style="width: 20%">Company</th>
                        <th style="width: 20%">Status</th>
                        <th style="width: 20%">Date</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="groupheader"
                    let-customer
                    let-rowIndex="rowIndex"
                    let-expanded="expanded"
                >
                    <tr>
                        <td colspan="5">
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="customer"
                                class="p-button-text p-button-rounded p-button-plain mr-2"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                            <img
                                [alt]="customer.representative.name"
                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
                                    customer.representative.image
                                }}"
                                width="32"
                                style="vertical-align: middle"
                            />
                            <span class="font-bold ml-2">{{
                                customer.representative.name
                            }}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupfooter" let-customer>
                    <tr class="p-rowgroup-footer">
                        <td colspan="4" style="text-align: right">
                            Total Customers
                        </td>
                        <td>
                            {{
                                calculateCustomerTotal(
                                    customer.representative.name
                                )
                            }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-customer>
                    <tr>
                        <td>
                            {{ customer.name }}
                        </td>
                        <td>
                            <img
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + customer.country.code"
                                style="width: 20px"
                            />
                            <span class="ml-1 vertical-align-middle">{{
                                customer.country.name
                            }}</span>
                        </td>
                        <td>
                            {{ customer.company }}
                        </td>
                        <td>
                            <p-tag
                                [value]="customer.status"
                                [severity]="getSeverity(customer.status)"
                            />
                        </td>
                        <td>
                            {{ customer.date }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
